#!/usr/bin/env zsh

echo "macOS    version        : $(sw_vers --productVersion)"
echo "Homebrew version        : $(brew --version | cut -d' ' -f2)"
echo "Homebrew location       : $(brew --prefix)"
echo "MongoDB  version        : $(mongod --version | grep 'db version' | cut -d' ' -f3)"
echo "MongoDB  config file    : $(brew --prefix)/etc/mongod.conf"
echo "MongoDB  log  directory : $(brew --prefix)/var/log/mongodb"
echo "MongoDB  data directory : $(brew --prefix)/var/mongodb"
